pkgbase = lldb-debug-server
	pkgdesc = An LLDB debug server running as root to remotely debug (c,c++,rust) applications
	pkgver = 0.0.1
	pkgrel = 1
	arch = x86_64
	license = GPL2
	depends = lldb
	source = lldb-debug-server.service
	md5sums = SKIP

pkgname = lldb-debug-server
