[Unit]
Description=lldb debug server
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=lldb-server platform --listen "*:1234" --server
Restart=always
WorkingDirectory=/var/lldb-debug-server

[Install]
WantedBy=multi-user.target